body {
    color: #E6FAFC;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    letter-spacing: 0.2px;
    max-width: 1000px;
    min-width: 340px;
    margin: 100px 50px;   
    background-image: url(imagens/back.jpg);
    background-size: cover;

}

h1, h2 {
    color: #42fd38;
    letter-spacing: 1.5px;
}
#foto {
    border-radius: 100%;   
}

a {
    text-decoration: none;
    color: #B1CF5F;
}

.redesocial {
    width: 30px;
}

#index-button {
    background-color: #2EBFA5;
    color: #121212;
    padding: 15px 50px;
    border-radius: 7px;
    font-weight: 700;

}

#name {
    font-weight: bold;
    margin-bottom: 30x;
}

.description-container {
    max-width: 400px;
}

.description-text {

}

.description-image {
    

}

#trybe {
    color: green;
}

#page {
    width: 400px;
}