body {
    color: rgb(0, 0, 41);
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    width: 1000px;
    margin-left: 100px;   
}

#foto {
    width: 180px;
    border-radius: 100%;   
}

a {
    text-decoration: none;
    color: darkred;
}

.redesocial {
    width: 30px;
}

#index-button {
    background-color: #0e72ed;
    color: white;
    padding: 15px 50px;
    border-radius: 7px;
}