body {
    color: #E6FAFC;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 50;
    letter-spacing: 0.2px;
    max-width: 1000px;
    min-width: 340;
    margin-left: 50px;   
    background-image: url(imagens/back.jpg);
    background-size: cover;

}

h1, h2 {
    color: #42fd38;
    font-weight: 1200;
    letter-spacing: 2px;
}
#foto {
    border-radius: 100%;   
}

a {
    text-decoration: none;
    color: #B1CF5F;
}

.redesocial {
    width: 30px;
}

#index-button {
    background-color: #2EBFA5;
    color: #121212;
    padding: 15px 50px;
    border-radius: 7px;
}

#name {
    font-weight: 800;
}